.navbar{
    width: 100%;
    height: 20px;
    position: fixed;
    background-color: black;
    color: aqua;
    z-index: 1;
}

button {
    height: 10px;
    width: 30px;
    border: 3px solid white;
    color: white;
    background-color: grey;
}
input, button{
    float: right;
}
.topBackFill{
    background-color: blueviolet;
    height: 50px;
    width: 100%;
    position: fixed;
}
.bottomPortion{
    background-color: aqua;
    z-index: -1;
}